@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 80px;
}

textarea {
  overflow: hidden;
}

.buttonCommonStyle {
  align-items: center;
  border-radius: 15px;
  display: inline-flex;
  gap: 8px;
  justify-content: center;
  position: relative;
  height: 48px;
  padding: 0 24px;
}

.enabledButtonStyle {
  background: linear-gradient(180deg, rgb(251, 199, 7) 0%, rgb(201, 163, 23) 100%);
  cursor: pointer;
}

.disabledButtonStyle {
  background: linear-gradient(180deg, rgb(218, 218, 218) 0%, rgb(174, 174, 174) 100%);
  cursor: not-allowed;
  opacity: 0.5;
}
